
/* #qna {
  background-color: blue;
} */
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .fa {
  position: absolute;
  margin-top: 5px;
  padding: 10px;
  pointer-events: none;
  font-size:18px;
}

/* align glyph */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

.qa-search {
  border-radius: 0;
  width: 100%;
  height: 3em;
  font-size:15px;
  font-weight: bold;
  padding:25px;
}

.qa-title {
font-size: 15px;
padding-bottom: 15px;
}
.qa-title2 {
  font-size: small;
  font-weight: bold;
  margin: 15px
  }


body {
  margin: 30px;
}

.qa-question{
  font-weight: bold;
  margin-left:30px;
  position:relative;

}

.qa-thumbnails{
  position:absolute;
}
.qa-thumbnail {
  width: auto;
  height: 100px;
  margin:10px;
  position:relative;
}

.qa-imgs{

    width: 150px;
    height:100px;
    border: 1px solid black;
}

.qa-answer {
}
.qa-fst-container{
  height: 4em;
}
.qa-fst-btn{
  margin-top: 10px;
  margin-left:15px;
  height: 3em;

}
.qa-button-add {
  height: 3em;
  margin-left:15px;
  flex:end;
}

.qa-test{
  margin-left:30px;
  position:relative;
}

.qa-test2{
  position: absolute;
}


.qa-button-more {
  height: 3em;
}

.qa-user {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: small;
}

.qa-question1{
  position:relative;
}

.qa-question2{
  position: absolute;
}

.questionList{
  padding-top: 15px;
}


.ansBtnContainer{

}
.qa-loadAnswers{
  font-size: small;
  font-weight: bold;
  margin: 15px
}

.qa-loadAnswers:hover{
text-decoration-line: underline;
cursor: pointer;
}

.formBtn{
  align-self:flex-end;

}

.formdiv{
  justify-content: flex-start;
}
#quest{
  height:100px;
  margin-bottom: 15px;
}
.p-form{
  margin-top: 5px;
  margin-bottom:0px;
  font-weight: bold;
}
.p-form-b{
  margin-top: 5px;
  margin-bottom:10px;
}

/* MODAL */
/* Background effect. It covers the entire site */
.modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
  z-index: 1; /* Overlay effect: positioned over other containers */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed; /* Fix position on the top-left corner*/
  top: 0;
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  padding-top: 80px; /* Location of the content container */
}
/* Modal content */
.modal-content {
  background-color: white;
  /* width: 70%; Width in proportion to its parent container */
  max-width: 640px; /* Max width where it stops expanding */

  /* height: 70%; Height in proportion to its parent container */
  margin: auto; /* Auto margin according to the element width */
  padding: 10px;
  border: 1px solid black;
}
/* Close button */
.close {
 color: #080808;
 float: right; /* Positioned to the right of the parent container whichever size it is */
 font-size: 40px;
 font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-img {
  width: 100%; /* Width in proportion to its parent container*/
}
/* END - MODAL */